.center {
  position: absolute;
  top: 52%;
  left: 35%;
  transform: translate(-50%, -50%);
}

body {
  font-family: "League Spartan" !important;
  padding-top: 70px;
}

.nav-link:hover,
.nav-link.active {
  color: #0275d8 !important;
  font-weight: bold;
}

.content {
  background-color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 10px;
  border-style: solid 5px;
  border-color: #0275d8;
}

/* index */
.cover-image {
  background-image: url("../img/GOMart.png");
  width: 1125px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.shopnow {
  background-color: #3498db;
  font-size: 400px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 11rem;
  margin-left: 21rem;
}

/* Navbar Styles */
.nav-link {
  color: #2c3e50;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.form-control {
  border-radius: 8px 0 0 8px;
  border-right: none;
}

.form-control:focus {
  box-shadow: none;
  border-color: #3498db;
}

.btn-outline-primary {
  border-radius: 0 8px 8px 0;
  border-left: none;
}

.offcanvas {
  width: 5rem;
}

.offcanvas.offcanvas-start {
  width: 250px !important;
  /* Adjust this value to make it shorter/wider */
}

.offcanvas-title {
  font-weight: 600;
  color: #2c3e50;
}

.offcanvas .nav-link {
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.offcanvas .nav-link:hover {
  background-color: #f8f9fa;
}

.offcanvas .nav-link.active {
  background-color: #e7f1ff;
  color: #3498db;
}

/* inventory styles */
.nav-tabs .nav-link.active {
  background-color: #e7f1ff !important;
  border-color: #dee2e6 #dee2e6 #e7f1ff;
}

/* reorder request styles */
.pagination .page-link {
  color: #0d6efd;
  padding: 0.5rem 0.75rem;
  margin: 0 3px;
  border-radius: 4px;
}

.pagination .page-item.active .page-link {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.pagination .page-link:hover {
  background-color: #e7f1ff;
  border-color: #e7f1ff;
}

/* poducts styles  */

.sidebar {
  font-size: 14px;
  overflow-y: auto;
}

.card-title {
  font-size: 14px;
  font-weight: bold;
}

.card-img-top {
  object-fit: cover;
  border: 1px solid #1471f3;
  width: 220px !important;
  height: 150px !important;
}

.image-store {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #1471f3;
}
